:root{
    --Blue_500: hsl(215, 51%, 70%);
    --Cyan_400: hsl(178, 100%, 50%);

    --Blue_950_main_BG: hsl(217, 54%, 11%);
    --Blue_900_card_BG: hsl(216, 50%, 16%);
    --Blue_800_line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/outfit-v15-latin/outfit-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/outfit-v15-latin/outfit-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue_950_main_BG);
    color: var(--Blue_500);
    font-family: 'Outfit';
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.contenedor{
    min-width: 20rem;
    max-width: 31vh;
    background-color: var(--Blue_900_card_BG);
    border-radius: 0.9rem;
    margin: 18vh 0 2rem 0;
}

.eth-title{
    margin-bottom: 0.8rem;
    font-weight: 600;
    font-size: clamp(1.315rem, 1vw + 0.5rem, 1.32rem);
}

.eth-link{
    color: var(--White);
}

.eth-link:hover{
    color: var(--Cyan_400);
}

.ethe-container{
    margin: 1.5rem 1.3rem 0 1.3rem;
    position: relative;
    display: inline-block;
}

.ethe-container::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Cyan_400);
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 0.5rem;
}

.ethe-container:hover::before {
    opacity: 0.5;
}

.view-icon{
    position: absolute;
    top: 42%;
    right: 42%;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.ethe-container:hover{
    cursor: pointer;
}

.ethe-container:hover img.view-icon{
      opacity: 1;
}

.ethe-img{
    border-radius: 0.5rem;
}

.text{
    border-bottom: 1px solid var(--Blue_800_line);
    margin: 1.05rem 1.3rem;
    padding-bottom: 0.5rem;
    line-height: 1.5;
}

.eth-description{
    font-size: clamp(0.955rem, 1vw + 0.5rem, 1.05rem);
}

.wrapper-bottom{
    margin: 1.2rem 0 0.8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: clamp(0.795rem, 1vw + 0.5rem, 0.85rem);
}

.container-eth{
    color: var(--Cyan_400);
    font-weight: 600;
}

.eth-icon{
    padding-top: 0.05vh;
    margin-right: 0.35rem;
    height: fit-content;
}

.clock-icon{
    padding-top: 0.15vh;
    margin-right: 0.35rem;
    height: fit-content;
}

.author-container{
    margin: 1rem 1rem 1.5rem 1.5rem;
}

.author-pic{
    width: 2.1rem;
    height: fit-content;
    border: 1px solid var(--White);
    border-radius: 1rem;
}

.author{
    padding-top: 1vh;
    margin-left: 0.75rem;
    font-size: clamp(0.85rem, 1vw + 0.5rem, 0.875rem);
}

.author-link{
    color: var(--White);
}

.author-link:hover{
    color: var(--Cyan_400);
}

.container {
    display: flex;
    flex-direction: row;
}   

.attribution { font-size: 11px; text-align: center; color: var(--White); }
.attribution a { color: hsl(228, 45%, 44%); }